@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,500&family=Work+Sans:ital,wght@0,400;0,500;0,700;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --main-color: #4b81f8;
    --primary-color: #4b81f8;
    --main-bg-color: #f0f0f0;
    --main-font-color: #333;
    --light-color: #efefef;
    --dark-color: #4d4d4d;
    --hover-color: #333;
    --white-color: #fff;
    --gray-color: #333;
    --main-font: 'Work Sans', sans-serif;
    --alt-font: 'Shadows Into Light', cursive;
    --alt-font2: 'Lato', sans-serif;
    --heading-font: 'Roboto', serif;
    --shadow-color: rgba(0, 0, 0, 0.25);
    --common-padding: 0.625em;
}


body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Font CSS */
h1 {
    font-family: var(--heading-font);
}
p {
    font-family: var(--alt-font2);
    font-size: 1.250em;
    line-height: 1.5;
}
/* Navigational CSS 9/30/2022 */
.nav {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
    margin: 0 auto;
}

.nav-title {
    display: none;
    font-family: var(--main-font);
    font-size: 1.2em;
    color: var(--light-color);
    padding-left: var(--common-padding);
}

.name-website {
    display: block;
}

.name-website .webtitle {
    font-family: var(--alt-font);
    font-size: 1.8em;
    color: var(--main-color);
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-btn > label {
    display: inline-block;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 10px;
    color: var(--main-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.5s ease-in-out;
}

.nav > .nav-btn:hover > label {
    transform: scale(1.1);
}

.nav > .nav-btn > label > span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: var(--main-color);
    margin: 6px 0;
}

.nav > .nav-btn > label::after {
    content: 'Menu';
    font-size: 14px;
    position: absolute;
    top: 60px;
    right: -10px;
}

.nav > .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav > .nav-links > a {
    line-height: 1.875em;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--main-color);
    padding: var(--common-padding);
}

.nav > .nav-links > a:hover {
    color: var(--dark-color);
}

.nav > #nav-check {
    display: none;
}

@media screen and (max-width: 600px) {
    .nav {
        padding-bottom: 0;
    }

    .name-website {
        display: none;
    }

    .nav > .nav-btn {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 10000;
    }

    .nav > .nav-links {
        position: absolute;
        display: none;
        width: 100%;
        z-index: 30000;
        background-color: var(--gray-color);
        top: 50px;
        left: 0;
    }

    .nav > .nav-links > a {
        display: block;
        width: 100%;
        color: var(--white-color);
    }

    .nav .nav-btn:checked ~ .nav-links {
        display: block;
    }
}

/* Vertical Navigation CSS */
.admin-navigation {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    color: var(--main-color);
    font-family: var(--main-font);
    padding: 1em;
    margin-top: 2.50em;
}

.admin-navigation a {
    color: var(--main-color);
    text-decoration: none;
    padding: var(--common-padding);
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

.admin-navigation a:hover {
    color: var(--white-color);
    background-color: var(--main-color);
    transition: background-color 0.3s ease;
    border-radius: 4px;
}



#searchForm {
    width: 21.875em; /* Change to suit your needs */
    padding: 20px;
    box-shadow: 0px 10px 20px var(--shadow-color);
    border-radius: 5px;
}

#searchForm .input-group {
    margin-bottom: 20px;
}

#searchForm .input-group label {
    display: block;
    margin-bottom: 10px;
}

#searchForm .input-group .input-field,
#searchForm .input-group .select-css {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--main-font-color);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

#searchForm .search_button {
    display: inline-block;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#searchForm .search_button:hover {
    background-color: #3a6fc7;
}


.main_container {
    padding: 1.250em;
}
.main_container .image-header {
    width: 60%;
    border-radius: 10px;
    overflow: hidden; /* This will ensure the image also takes on the border radius */
    box-shadow: 0 5px 15px var(--shadow-color);
    transition: transform 0.3s ease;
    margin-bottom: 1.250em;
}

.main_container .image-header:hover {
    transform: scale(1.05);
}

.main_container .image-header img {
    width: 100%;
    height: auto;
    display: block;
}
.main_container h1 {
    color: var(--gray-color);
    font-size: 1.4em;
    margin-bottom: 0.625em;
}
.main_container p {
    color: var(--gray-color);
    font-size: 1.0em;
    line-height: 1.5;
}

:root {
    --shadow-color: rgba(0, 0, 0, 0.25);
    --primary-color: #4b81f8;
    --input-bg-color: #f2f2f2;
    --input-focus-color: #ddd;
}

#data_entry_form {
    display: flow-root;
    width: 37.5em;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 5px 15px var(--shadow-color);
    border-radius: 10px;
    background: #fff;
}
.cms_styling {
    height: 58em;
}
#data_entry_form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
#data_entry_form img {
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 250px;
}
#data_entry_form input[type="text"], #data_entry_form textarea, .select-css {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--shadow-color);
    border-radius: 5px;
    background: var(--input-bg-color);
    transition: background 0.3s ease;
}

#data_entry_form .table_height {
    height: 18.50em;
}

#data_entry_form input[type="text"], #data_entry_form textarea {
    width: 96%;
}

#data_entry_form textarea {
    height: 18.5em; /* equivalent to 300px */
    resize: none;
}


#data_entry_form input[type="text"]:focus, #data_entry_form textarea:focus, .select-css:focus {
    background: var(--input-focus-color);
    outline: none;
}

.form-button {
    float: right;
    text-transform: capitalize;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}

.form-button:hover {
    background: #3366cc;
}

.file-input-style {
    display: none;
}

.file-input-style + label {
    padding: 10px 20px;
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}

.file-input-style + label:hover {
    background: #3366cc;
}

.progress-bar-container {
    margin-bottom: 20px;
}

.progress-bar {
    height: 20px;
    background: var(--input-bg-color);
}

.progress-bar-title {
    margin-bottom: 5px;
}

/* Add Questions/Answers to CanYouSolve Game CSS */
#add_to_db_table {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 20px auto;
}

#add_to_db_table .file_grid_area,
#add_to_db_table .question_grid_area,
#add_to_db_table .answer_grid_area,
#add_to_db_table .submit_grid_area {
    margin-bottom: 20px;
}

#add_to_db_table .file-input-style {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    transition: border .3s;
}

#add_to_db_table .file-input-style:hover {
    border-color: #007BFF;
}

#add_to_db_table #question_style,
#add_to_db_table .answer_style {
    width: 95%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    transition: border .3s;
}

#add_to_db_table #question_style:focus,
#add_to_db_table #answer_style:focus {
    border-color: #007BFF;
}

#add_to_db_table #question_style {
    height: 18.75em; /* equivalent to 300px */
    resize: none;
}

#add_to_db_table .button_style {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background .3s;
}

#add_to_db_table .button_style:hover {
    background-color: #0056b3;
}
/* End CSS for Can You Solve Game */


.colophon p {
    color: var(--main-color);
    text-align: center;
}
/* Approximately the size of an iPad 768px */
@supports (grid-area: auto) {
    @media screen and (min-width: 48em) {

    }
}

/* Approximately the size of a 1248px large display monitor */
@supports (grid-area: auto) {
    @media screen and (min-width: 78em) {

        .site {
            display: grid;
            grid-template-columns: 20em 1fr;
            grid-template-areas:
				"nav nav"
				"sidebar main"
                "sidebar main"
				"footer footer";
            column-gap: 1.250em;
            row-gap: 1.250em;
            justify-content: center;
        }

        .nav {
            grid-area: nav;
        }

        .sidebar {
            grid-area: sidebar;
            margin: 1.250em;
        }

        .main_container {
            grid-area: main;
        }
        .main_container h1 {
            font-size: 2.4em;
        }
        .main_container p{
            font-size: 1.250em;
        }

        .colophon {
            grid-area: footer;
        }

    }
}